@page
@model LibraryManagementSystem.Pages.Books.GetAllBooksModel
@{
}
@{
    ViewData["Title"] = "AllBooks";
}
<div class="text-center">
    <h1 class="display-2">All Books</h1>
</div>

<div>
    <a type="button" class="btn btn-primary" asp-page="AddBook" style="float:right">Add Book</a>
    <form>
        <p>
            Search: <input type="text" asp-for="FilterCriteria" />
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

@if (ViewData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["error"]
    </div>
}
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Success"]
    </div>
}

@if (Model != null)
{
    @foreach (var @item in Model.Books)
    {
        <div style=" margin: 0 0 15px 0;">
            <div style="float: left; margin: 0 15px 0 0;">
                <img src="~/Image/@item.ImageName" style=" height: 100px" />
            </div>
            <div>
                <h5>@item.Title</h5>
                @if (item.IsAvailable)
                {
                    <h6>Is Available: Yes </h6>
                }
                else
                {
                    <h6>Is Available: No </h6>
                }

            </div>
            <div style="text-align: justify;">
                @item.Description
            </div>

            <div>
                <a type="button" class="btn btn-primary" asp-page="/Copies/GetCopies" asp-route-title="@item.Title" asp-route-id="@item.Isbn">View all Copies</a>
                <a type="button" class="btn btn-danger" asp-page="/Books/DeleteBook" asp-route-isbn="@item.Isbn ">Delete</a>
            </div>
            <hr />
        </div>


    }
}

